GroupProjects/SwarmRobot_2023/code/node-red/robot_dashboard_flow.json
[
    {
        "id": "7179ab9c5ef0fbfe",
        "type": "tab",
        "label": "Robot Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "114a97d5b0d47386",
        "type": "ui_gauge",
        "z": "7179ab9c5ef0fbfe",
        "name": "",
        "group": "8dda744bf58f7a8e",
        "order": 0,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Speed",
        "label": "RPM",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "120",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 180,
        "wires": []
    },
    {
        "id": "fc33d01f8e3b219b",
        "type": "ui_text",
        "z": "7179ab9c5ef0fbfe",
        "group": "8dda744bf58f7a8e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Direction",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 840,
        "y": 240,
        "wires": []
    },
    {
        "id": "b4839a1c1beea3d2",
        "type": "mqtt in",
        "z": "7179ab9c5ef0fbfe",
        "name": "",
        "topic": "SWARM_FR_ISK/SPEED",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6e6eae63e3492c1f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 180,
        "wires": [
            [
                "3ff72073456c3d6b"
            ]
        ]
    },
    {
        "id": "68a84830a5f27476",
        "type": "mqtt in",
        "z": "7179ab9c5ef0fbfe",
        "name": "",
        "topic": "SWARM_FR_ISK/DIRECTION",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6e6eae63e3492c1f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 240,
        "wires": [
            [
                "fc33d01f8e3b219b",
                "ac717fa417db982a"
            ]
        ]
    },
    {
        "id": "3ff72073456c3d6b",
        "type": "change",
        "z": "7179ab9c5ef0fbfe",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 180,
        "wires": [
            [
                "114a97d5b0d47386"
            ]
        ]
    },
    {
        "id": "ac717fa417db982a",
        "type": "debug",
        "z": "7179ab9c5ef0fbfe",
        "d": true,
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 340,
        "wires": []
    },
    {
        "id": "8dda744bf58f7a8e",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "329713312656280b",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6e6eae63e3492c1f",
        "type": "mqtt-broker",
        "name": "testBrokker",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "329713312656280b",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]