GroupProjects/RoboBoyz/Robot_node_flows.json
[
    {
        "id": "3ef4ee9892af0541",
        "type": "tab",
        "label": "Robot Node",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ddd6faa467c404e5",
        "type": "mqtt in",
        "z": "3ef4ee9892af0541",
        "name": "",
        "topic": "robot/data_in",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3afe98441a108858",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 100,
        "wires": [
            [
                "e1b4dfa4bad127ef"
            ]
        ]
    },
    {
        "id": "e1b4dfa4bad127ef",
        "type": "function",
        "z": "3ef4ee9892af0541",
        "name": "store data",
        "func": "msg.topic = msg.topic;\nmsg.payload = \"From Dashboard:\" + msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 120,
        "wires": [
            [
                "18083e3063365c55"
            ]
        ]
    },
    {
        "id": "18083e3063365c55",
        "type": "debug",
        "z": "3ef4ee9892af0541",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 160,
        "wires": []
    },
    {
        "id": "31f41b73381caca8",
        "type": "inject",
        "z": "3ef4ee9892af0541",
        "name": "inject number",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "12",
        "payloadType": "num",
        "x": 850,
        "y": 340,
        "wires": [
            [
                "6f23b03d696f5b95"
            ]
        ]
    },
    {
        "id": "6f23b03d696f5b95",
        "type": "mqtt out",
        "z": "3ef4ee9892af0541",
        "name": "",
        "topic": "robot/set_distance",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3afe98441a108858",
        "x": 1250,
        "y": 360,
        "wires": []
    },
    {
        "id": "3afe98441a108858",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]